<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{ asset('pictures/favicon.ico') }}" />

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <h1 class="header-title">TRT Conseil</h1>
        </header>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer">
            <p class="footer-text">TRT Conseil - 2024</p>
            <ul class="footer-ul">
                <li class="footer-li">Politique de confidentialité</li>
                <li class="footer-li">Mentions légales</li>
            <ul>
        </footer>
    </body>
</html>
