{% extends 'base.html.twig' %}

{% block title %}Tableau de bord du consultant{% endblock %}

{% block body %}
    <h1 class="main-title">Bienvenue sur votre tableau de bord 
        {% if app.user %}
            {{ app.user.firstName }} {{ app.user.lastName }}.
        {% endif %}
    </h1>
    <div class="dashboard-container">
        <div class="dashboard-button">
            <a href={{ path('') }} class="link dashboard-link">Modérer les inscriptions</a>
        </div>
        <div class="dashboard-button">
            <a href={{ path('') }} class="link dashboard-link">Modérer les annonces</a>
        </div>
    </div>
{% endblock %}