{% extends 'base.html.twig' %}

{% block title %}Edition du profil - Recruteur{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form', 'id': 'recruiter-profile-form', 'style':'margin-bottom:12vh;'}}) }}
        <h1 class="form-title">Renseignez votre profil</h1>
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
        <input type="submit" class="button form-btn" value="Modifier mon profil" />
    {{ form_end(form) }}
    <div class="return-button">
        <a href="{{ path('recruiter_dashboard') }}" class="link return-button-link">Retour au tableau de bord</a>
    </div>
{% endblock %}